<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="container-lg">    
        <div class="container-md">
            student national id: {{student.national_id}}
            <br>
            student name: {{student.name}}
            <br>
            student last name: {{student.last_name}}
            <br>
            student phone number: {{student.phone_number}}

        </div>
        <hr>
    </div>

    <hr>
    <h3>Classes :</h3>

    <div class="container-sm">

        <ul class="list-group">
            {% for class in classes %}
                <li class="list-group-item list-group-item-secondary">name: {{class.name}} ----- teacher: {{class.teacher}} ----- class book: {{class.book.name}}</li>
            {% endfor %}
        </ul>

    </div>

    <hr>
    <a href="{% url 'student:index' %}">students page</a>

    <hr>
    <a href="{% url 'dashboard:index' %}">dashboard</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>